<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Multimodule</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>
    <b>Message: </b>
    <span th:text="${message}"/>
</div>
<div>
    <b>Your account: </b>
    <span th:text="${account}"/>
</div>
</body>
</html>